@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ease-in-out-expo {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.ease-in-expo {
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
